.navbar
    background primary
    width 100%
    height 56px
    line-height 56px
    margin-bottom 20px
    
    h1.logo
        font-size 1.6em
        float: left
        
        a
            color: #FFFFFF
            
    .nav-right
        display none
        float right
        
        @media screen and (min-width: 768px)
            display block
        
        a
            display block
            float left
            margin-left 20px
            color #FFFFFF
            
    .nav-btn
        float right
        display block
        
        @media screen and (min-width: 768px)
            display none
            
        .btn-icon
            color #FFFFFF
            
            &:hover
                text-shadow none
        