.postman-parcels
    top auto
    right auto
    bottom 10px
    left 0

.postman-parcel
    border-radius 0
    box-shadow 4px 4px 20px rgba(0, 0, 0, 0.3)
    min-width 200px

    &.error
        background-color danger
        
    &.success
        background-color success
    

    