h1, h2, h3
    display block
    font-weight 400
    padding-bottom 6px
    
h1
    font-size 2.5em
    line-height (2 * base-line-height)
    
h2
    font-size 2em
    line-height (1.5 * base-line-height)
    
h3
    font-size 1.5em
    line-height (1.25 * base-line-height)
    
a
    font-size 1.1em
    color secondary
    text-decoration none
    
p
  display block
  line-height base-line-height
  font-weight 300