.bucket-left
    float left
    width 50%
    
    .add-item-form
        .group
            width 60%
    
.bucket-right
    float left
    width 48%
    margin-left 2%
    
    .item
        padding 1.2rem
        background darken(info, 10%)
        margin-bottom 12px
        border-radius 3px
        border 1px solid darken(info, 5%)
        position relative
        
        .btn-icon
            position absolute
            right 12px
            top 8px
            cursor pointer
        