<div class="container">
    <div class="bucket-left">
        <h2>{{bucket.name}}</h2>
        <p>{{bucket.description}}</p>

        <button class="btn btn-danger btn-sm" ng-click="remove(bucket._id)">Remove Bucket</button>

        <h3>Add Item to the Bucket</h3>

        <div class="add-item-form">
            <div class="group">
                <input type="text" ng-model="newThing.name" placeholder="Name">
            </div>

            <div class="group">
                <!--<input type="text" ng-model="newThing.description" placeholder="Description">-->
                <textarea ng-model="newThing.description" placeholder="Description"></textarea>
            </div>

            <div class="group">
                <input type="text" pick-a-date="date" ng-model="newThing.date" placeholder="Date">
            </div>
            <button class="btn btn-secondary btn-sm" ng-click="addItem(newThing)">Add Item</button>
        </div>
    </div>
    <div class="bucket-right">
        <div class="item" ng-repeat="item in bucket.items | orderBy:'+date'">
            <h3>{{ item.name }} - <small>{{ item.date | date : 'mediumDate'}}</small></h3>
            <p>{{ item.description }}</p>

            <div class="btns">
                <button class="btn-icon btn-info" ng-click="completeItem(bucket._id, item, $index)"><i class="fa fa-check fa-2x"></i></button>
                <button class="btn-icon btn-danger" ng-click="removeItem(item._id, $index)"><i class="fa fa-remove fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>